<!--TODO: Add AI recommendation system -->

<hr />

<div class="store-container">
  <aside class="sidebar">
    <h3>Filters</h3>

    <div class="filter-group">
      <label>Category</label>
      <select [(ngModel)]="selectedCategory">
        <option value="">All</option>
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </select>
    </div>

    <div class="filter-group">
      <label>Price Range</label>
      <input
        type="number"
        [(ngModel)]="minPrice"
        placeholder="Min Price"
        (input)="filterByPrice()"
      />
      <input
        type="number"
        [(ngModel)]="maxPrice"
        placeholder="Max Price"
        (input)="filterByPrice()"
      />
    </div>
  </aside>

  <div class="main-content">
    <div class="search-container">
      <div class="search">
        <input
          [(ngModel)]="searchTerm"
          (input)="searchProducts()"
          placeholder="Search..."
        />
      </div>

      <div class="sorting">
        <button class="button-rounded">New</button>
        <button class="button-rounded">Price Ascending</button>
        <button class="button-rounded">Price Descending</button>
        <button class="button-rounded">Rating</button>
      </div>
    </div>

    <div class="product-list-container">
      <app-product-list [products]="filteredProducts"></app-product-list>
    </div>
  </div>
</div>

<div class="container">
  <div class="cart">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
      (click)="openCart()"
      (keypress)="openCart()"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
      />
    </svg>
  </div>

  <app-cart-modal *ngIf="isCartOpen" (close)="closeCart()"></app-cart-modal>

  <div class="pagination"></div>
</div>
