/* General styling for the navbar */
.navbar {
  display: flex;
  justify-content: space-between; /* Puts logo on left and links on right */
  align-items: center; /* Aligns the items vertically */
  padding: 10px 20px;
  /* background-color: #333; */
  margin-bottom: 10px;
}

/* Styling for the logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

/* Styling for the links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 10px; /* Adds space between each link */
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 18px;
}

/* Add hover effect */
.nav-links a:hover {
  color: #ff6347; /* Optional hover color change */
}

.rounded {
  border: #3a3a3a 1px solid;
  border-radius: 6px;
  border-style: solid;
  padding: 6px;
}

.black-rounded {
  color: rgb(248, 248, 248);
  background: #3a3a3a;
}
